.chapter3 {
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/backgroundChapter1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chapter3__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.traitIntroChap2{
  width: 1px;
  height: 650px;
  background-color: yellow;
  position: absolute;
  margin-top: 20%;
  &::before{
    content: '';
    animation: apparition 3s forwards ;
    background-color: yellow;
    position: absolute;
    width: 100px;
    height: 1px;
    transform: translateX(-50px);
  }
}

.traitChap2{
  width: 1px;
  height: 880px;
  background-color: yellow;
  position: absolute;
  margin-top: 20%;
  &::before{
    content: '';
    animation: apparition 3s forwards ;
    background-color: yellow;
    position: absolute;
    width: 100px;
    height: 1px;
    transform: translateX(-50px);
  }
}



.IntroChapter3 {
  color: white;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier', sans-serif;

  h1 {
    margin: 10vh 0 0vh 0;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Headliner No. 45', sans-serif;
  }
}

.contentIntroChapter3 {
  width: 100vw;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  padding-bottom: 10vh;

}

.part__introChapter3 {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.nameIntroChapter3 {
  font-size: 2em;
}



.part__introChapter3__Content {
  width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  h3 {
    font-weight: bolder;
    width: 30vw;
  }

  h4 {
    margin-top: 2vh;
    font-weight: bold;
    width: 30vw;
  }

  p {
    margin-top: 4vh;
    padding-bottom: 10vh;
    font-weight: lighter;
    font-size: 16px;
    line-height: 3vh;
    width: 30vw;
  }
}

.audioTrackSource {
  text-align: center;
  line-height: 2vh;
}

.part__introChapter3__Image {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Murphy1 {
  width: 30vw;
  height: auto;
}


.quote1__chapter3 {
  margin: 10vh 0 15vh 0;
  text-align: end;
  line-height: 3vh;
  font-size: 22px;
  font-weight: bold;
  width: 50vw;
}


.Murphy2 {
  position: relative;
  right: -15vw;
  top: -26vh;
  width: 30vw;  
}

.Murphy3 {
  position: relative;
  right: 20vw;
  top: -1vh;
  width: 30vw; 
  z-index: 1; 
}

.quote2__chapter3__part1 {
  margin: 10vh 0 0vh 0;
  text-align: center;
  line-height: 3vh;
  font-size: 22px;
  font-weight: bold;
  width: 50vw;
}

.quote2__chapter3__part2 {
  margin: 0vh 0 10vh 0;
  text-align: end;
  line-height: 3vh;
  font-size: 22px;
  font-weight: bold;
  width: 47vw;
}
