.Therapy {
  color: white;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier', sans-serif;

  h2 {
    margin: 10vh 0 12.5vh 0;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Headliner No. 45', sans-serif;
  }
}

.contentTherapy {
  width: 100vw;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10vh;

}

.part__Therapy {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.nameTherapy {
  font-size: 2em;
}


.part__Therapy__Content {
  width: 40vw;
  text-align: end;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  align-content: space-around;
  margin-left: 2.5vw;


  p {
    margin-bottom: 3vh;
    font-weight: lighter;
    font-size: 16px;
    line-height: 3vh;
  }
}

.part__Therapy__Image {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  margin-right: 2.5vw;

}


.Soldat4 {
  height: auto;
  width: 34vw;
}

.quote1__chapter1 {
  margin: 10vh 0 10vh 0;
  text-align: end;
  line-height: 3vh;
  font-size: 22px;
  font-weight: bold;
}

.part__Therapy__text {
  padding-top: 6vh;
  width: 40vw;
}

.VideoPetitSource {
  text-align: end;
  transform: translateX(2vw);
  padding-top: 2vh;
}

.Trauma1 {
  width: 24vw;
  margin-bottom: 15vh;
}

.Trauma2 {
  width: 26vw;
}

.Trauma3 {
  position: absolute;
  width: 22vw;
  right: 20vw;
}

.videoChapter3 {
  width: 30vw;
  margin-top: 5vh;
}