@import '../ChapterStyle/chapter1/chapter1.scss';
@import '../ChapterStyle/chapter2/chapter2.scss';
@import '../ChapterStyle/chapter2/QuoteChapter2.scss';
@import '../ChapterStyle/chapter2/SocialImpact.scss'; 
@import '../ChapterStyle//chapter2/videoChapter2.scss';
@import './chapter2/Addiction.scss';
@import './chapter3/chapter3.scss';
@import './chapter2/Health.scss';
@import './chapter2/PersonalLife.scss';

