.chapter2{
 display: flex;
 align-items: center;
 flex-direction: column;
 color: white;
 background-image: url(../assets/img/backgroundChapter1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

