.Health {
  color: white;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier', sans-serif;

  h1 {
    margin: 10vh 0 0vh 0;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Headliner No. 45', sans-serif;
  }
}

.contentHealth {
  width: 100vw;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  height: 80vh

}

.part__Health {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
}

.nameHealth {
  font-size: 2em;
}


.part__Health__Content {
  width: 40vw;


  h3 {
    font-weight: bolder
  }

  p {
    margin-top: 4vh;
    font-weight: lighter;
    font-size: 16px;
    line-height: 3vh;
    text-align: end;
  }
}

.part__Health__Image {
  width: 40vw;
  display: flex;
  align-items: flex-start;
  justify-content: inherit;
  flex-direction: column;
}


.Health2 {
  transform: translate(10vw, -8vh);
  width: 30vw;
}


.quote1__chapter1 {
  margin: 10vh 0 -8vh 0;
  text-align: end;
  line-height: 3vh;
  font-size: 22px;
  font-weight: bold;
}