.PersonalLife {
  color: white;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier', sans-serif;

  h1 {
    margin: 10vh 0 0vh 0;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Headliner No. 45', sans-serif;
    width: 30vw;
    text-align: center;
  }
}

.contentPersonalLife {
  width: 100vw;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  height: 80vh

}

.part__PersonalLife {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.namePersonalLife {
  font-size: 2em;
}


.part__PersonalLife__Content {
  width: 40vw;
  margin-right: 2vw;

  p {
    margin-top: 4vh;
    font-weight: lighter;
    font-size: 16px;
    line-height: 3vh;
  }
}

.part__PersonalLife__Image {
  width: 40vw;
  display: flex;
  align-items: flex-end;
  align-content: space-around;
  justify-content: inherit;
  flex-direction: column;
  margin-left: 2vw;
}

.audioTrackSource__personalLife {
  width: 37vw;
  text-align: center;
  padding-top: 2vh;
}

.PersonalLife1 {
  width: 26vw;
  transform: translate(-10vw, -6vh);
}

.PersonalLife2 {
  width: 29vw;
  transform: translateX(-2vw);
}
