.Title__SocialImpact{
  font-family: 'Headliner No. 45', sans-serif;
  font-size: 4em;
}

.paragraph__SocialImpact{
  width: 35vw;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}
.content__SocialImpact{
  display: flex;
  flex-direction: row;
}
.first__part__SocialImpact{
  display: flex;
  flex-direction: column;
}

.Soldats22{
  width: 20vw;
}