.death__during__war{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Headliner No. 45', sans-serif;
  margin: 2%;
  text-align: center;
}

.death__during__war--sentence{
  font-size: 30px;
}

.death__during__war--death{
  font-size: 50px;
}

.death__during__war--img{
  width: 30vw;
  margin-top: 3%;
}