.Introduction{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-image: url(../assets/img/backgroundIntro.jpg); 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.half__sentence{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}


@import './Title.scss';
@import './description.scss';
@import './deathDuringWar.scss';
@import './deathAfterWar.scss';
@import './titlePart2.scss';
@import './profileCard.scss';