.Title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  color: #F8EF48;
  font-family: 'Headliner No. 45', sans-serif;
  font-size: 30px;
}

.ui__yellow__line{
  width: 25vw;
  height: 0.1vh;
  background-color: #F8EF48;
}