.TraumaticEvents {
  color: white;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Courier', sans-serif;

  h2 {
    margin: 10vh 0 12.5vh 0;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Headliner No. 45', sans-serif;
  }
}

.contentTraumaticEvents {
  width: 100vw;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10vh;
}
.traitPTSD{
  width: 1px;
  height: 690px;
  background-color: yellow;
  position: absolute;
  margin-top: 15%;
}

.part__TraumaticEvents {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.nameTraumaticEvents {
  font-size: 2em;
}


.part__TraumaticEvents__Content {
  width: 40vw;
  text-align: start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  align-content: space-around;
  margin-left: 2.5vw;


  p {
    margin-bottom: 3vh;
    font-weight: lighter;
    font-size: 16px;
    line-height: 3vh;
  }
}

.part__TraumaticEvents__Image {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  margin-right: 2.5vw;

}


.Soldat4 {
  height: auto;
  width: 34vw;
}

.quote1__chapter1 {
  margin: 10vh 0 10vh 0;
  text-align: end;
  line-height: 3vh;
  font-size: 22px;
  font-weight: bold;
}

.videoChapter1 {
  height: 30vh;
  width: 30vw;
  margin: 15vh 0 10vh 0;

  &::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 40.5vh;
    right: -31.5vw;
    border-top: 2px solid yellow;
    border-right: 2px solid yellow;
  }
  
  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: relative;
    bottom: -34vh;
    left: -1.5vw;
    border-bottom: 2px solid yellow;
    border-left: 2px solid yellow;
  }
}

.part__TraumaticEvents__text {
  padding-top: 6vh;
  width: 40vw;
}

.VideoPetitSource {
  text-align: end;
  transform: translateX(2vw);
  padding-top: 2vh;
}

.Trauma1 {
  width: 24vw;
  margin-bottom: 15vh;
}

.Trauma2 {
  width: 26vw;
}

.Trauma3 {
  position: absolute;
  width: 22vw;
  right: 20vw;
}