.videoChapter {
  height: 60vh;
  width: 80vw;
  margin: 15vh 0 10vh 0;
  display: flex;
  justify-content: center;

  &::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 4.5vh;
    right: -1.5vw;
    border-top: 2px solid yellow;
    border-right: 2px solid yellow;
  }
  
  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: relative;
    bottom: -62vh;
    left: -1.5vw;
    border-bottom: 2px solid yellow;
    border-left: 2px solid yellow;
  }
}

.videoMusgrave {
  min-width: 70vw;
  min-height: 60vh;
}

.VideoPetitChapter {
  height: 32vh;
  width: 32vw;
}