.button__LandingPage {
  font-family: 'Headliner No. 45', sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  background-color: inherit;
  color: white;
  pointer-events: visible;
  transition: all 0.3s ease;
  cursor: pointer;
  border-bottom: solid 1px yellow;
  visibility: hidden;

 &:hover {
    color: yellow;
    letter-spacing: 7px;
}
}