.landingPage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/img/background.jpg);
  color: white;
  overflow: hidden;
  

  .content__LandingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 999;
    pointer-events: none;
  }
}

.divBlack {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: black;
  z-index: -1;
}