
/* keyframe apparition du titre landing page */
@keyframes appear {
  0% {
    transform: scale(0.8);
    opacity: 0;
  };
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/*  
//Hover on chapter

.App {
  transition: transform 0.3s ease;
}


.App:hover {
  transform: scale(1.2); 
}

*/


/*
@keyframes appearSideLeft {
  0% {
    transform: translateX(30vw);
    opacity: 0;
  };
  100% {
    transform: translateX(-30vw);
    opacity: 1;
  }
}

@keyframes appearSideRight {
  0% {
    transform: translateX(-30vw);
    opacity: 0;
  };
  100% {
    transform: translateX(30vw);
    opacity: 1;
  }
}*/

@import './Button.scss';
@import './ContentLandingPage.scss';
@import './LandingPage.scss';
@import './TitleLandingPage.scss';
@import './reset.scss'