@keyframes appear {
  0% {
    transform: scale(0.8);
    opacity: 0;
  };
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.landingPage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
  

  .content__LandingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    animation: appear 1s ease-in-out;
    position: relative;
    z-index: 999;
    pointer-events: none;
  }
}