@keyframes appear {
  0% {
    transform: scale(0.8);
    opacity: 0;
  };
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.landingPage {
  background-color: grey;
  background-image: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  .content__LandingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    animation: appear 1s ease-in-out;
  }
}