.title__LandingPage {
  font-family: 'Headliner No. 45', sans-serif;
  font-size: 4em;
  margin: 0%;
}

.undesTitle__LandingPage {
  color: Yellow;
  font-family: 'Headliner No. 45', sans-serif;
  font-size: 9em;
  margin: 0%;
}