iframe {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

@media (min-aspect-ratio: 16/9) {
  iframe { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  iframe { width: 300%; left: -100%; }
}